/* Style de la page de cométences */

/* Header */

header h1{
    text-align: center;
    margin-top: 3%;
}


/* Main */

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main div{
    display: flex;
    width: 83vw;
}

main button{
    width: 37.5vw;
    height: 50.1vh;
    border-radius: 30px;
    border: solid;
    border-color: rgb(var(--color-accent));
    border-width: 7px;
    color: rgb(var(--color-text));
    margin: 2% 3.5%;
    font-size: var(--typescale-h4);
    font-family: "Insanibu", sans-serif;
}

button:hover{
    background-color: rgb(var(--color-primary-dark));
}

.boutonSombre{
    background-color: rgb(var(--color-primary));
}

.boutonClair{
    background-color: rgb(var(--color-primary-light));
}