/* Style de la page de profil */

/* Header */

header{
    padding-top: 4%;
    margin: 0 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header div p{
    color: rgb(var(--color-accent-light));
}

header h1{
    -webkit-text-stroke-color: rgb(var(--color-primary));
    -webkit-text-stroke-width: 3px;
}

header h2{
    -webkit-text-stroke-color: rgb(var(--color-secondary-light));
    -webkit-text-stroke-width: 3px;
}

header hr{
    width: 30vw;
    margin: 40px 0 40px 50px;
    border-color: rgb(var(--color-primary));
    background-color: rgb(var(--color-primary));
    stroke-width: 3px;
}

header div div{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

header div div h1{
    margin-right: 30px;
}

header p{
    font-family: "Archivo-Bold", sans-serif;
    margin-bottom: 8px;
}



/* Main */

/* section 1 */

.section1_profil{
    padding: 0 6%;
}

.section1_profil p{
    width: 43.6vw;
    text-align: justify;
}

.section1_profil div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    line-height: 3.75rem;
}

.section1_profil > h1{
    text-align: center;
    margin-bottom: 2%
}

.section1_profil button{
    background-color: rgb(var(--color-secondary));
    width: 298px;
    height: 119px;
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(var(--color-accent));
    border-width: 4px;
    color: rgb(var(--color-accent-light));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section1_profil button:hover {
    background-color: rgb(var(--color-secondary-dark));
}

img{
    border-radius: 20px;
    margin: 3% 0;
}


/* section 2 */

.section2_profil h1{
    text-align: center;
    margin-bottom: 4%;
}

.section2_profil > div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section2_profil ul{
    width: 36.5vw;
}

.section2_profil > div > div{
    width: 40vw;
    border: solid;
    border-color: rgb(var(--color-secondary-dark));
    border-width: 2px;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
}

.section2_profil ul, .section2_profil h4{
    margin: 0 8% 6% 8%;
}

.section2_profil div div hr{
    margin: 4% 0;
    height: 2px;
    width: 30vw;
    align-self: center;
}

.section2_profil div h3{
    text-align: center;
}

.section2_profil div li span{
    color: rgb(var(--color-text));
}

.section2_profil div div div{
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
}

.section2_profil button{
    padding: 0 2%;
    background-color: rgb(var(--color-secondary));
    height: 100px;
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(var(--color-secondary-light));
    border-width: 4px;
    color: rgb(var(--color-text));
}

.section2_profil button:hover{
    background-color: rgb(var(--color-secondary-dark));
}

.dateForma{
    color: rgb(var(--color-accent-light));
}