/* Style de la page de profil */

/* Header */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    line-height: 1.5;
}

header span{
    color: rgb(var(--color-primary));
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75.2vw;
}

header hr{
    align-self: self-start;
    margin: 60px 100px;
    align-self: normal;
}

header svg:hover path{
    stroke: rgb(var(--color-secondary-light));
}

header button{
    width: 34vw;
    min-height: 18.6vh;
    height: auto;
    background-color: rgb(var(--color-primary));
    border: solid;
    border-radius: 60px;
    border-color: rgb(var(--color-accent));
    border-width: 7px;
    font-size: var(--typescale-h3);
    font-family: "Insanibu", sans-serif;
    color: rgb(var(--color-text));
    padding: 2%;
}

header button:hover{
    background-color: rgb(var(--color-primary-dark));
}

header button:active, header button:focus{
    background-color: rgb(var(--color-accent-dark));
}


/* Main */

.estSelect{
    display: block;
}

main section{
    display: none;
    padding: 0 7%;
}

section hr{
    width: 47.2vw;
    border: solid;
    border-color: rgb(var(--color-accent));
    margin: 4.5% auto;
}

section h1{
    -webkit-text-stroke-color: rgb(var(--color-primary));
    -webkit-text-stroke-width: 5px;
    color: rgb(var(--color-primary-light));
    text-align: center;
}

section h3{
    font-family: "Insanibu", sans-serif;
    margin-bottom: 2%;
}

section > div{
    margin: 6% 0 0 0;
}

section p{
    font-size: var(--typescale-h4);
    font-family: "Archivo", sans-serif;
}

section button{
    background-color: rgb(var(--color-secondary));
    width: 298px;
    height: 119px;
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(var(--color-secondary-light));
    border-width: 4px;
    color: rgb(var(--color-text));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4%;
}

section button:hover{
    background-color: rgb(var(--color-secondary-dark));
}

section ol{
    margin-left: 5%;
    line-height: 2.5;
}

section ul{
    margin-left: 3%;
    line-height: 2.5;
}

section ul li{
    display: flex;
    align-items: center;
}

section ul img{
    width: 3vw;
    height: 6.367839627707178vh;
    border-radius: 10px;
    margin-right: 1%;
}

ol li::marker {
    color: rgb(var(--color-primary-light));
}

.textEnNoir{
    color: rgb(var(--color-secondary-light));
}

.textEnViolet{
    color: rgb(var(--color-accent-light));
}

/* Projet 1.1 */

.img_demineur{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.img_demineur img{
    width: 30vw;
    height: 80vh;
}

/* Projet 1.2 */

.img_sudoku{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img_sudoku img{
    width: 33vw;
    height: 80vh;
}

/* Projet 2.1 */

.img_resolv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img_resolv img{
    width: 35vw;
    height: 70vh;
}

/* Projet 2.2 */

.img_caval{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img_caval img{
    width: 40vw;
    height: 70vh;
}

/* Projet 3 */

.img_genDoc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img_genDoc img{
    width: 40vw;
    height: 55vh;
}

/* Projet 4 */

.img_bdd{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img_bdd img{
    width: 40vw;
    height: 55vh;
}

/* Projet 5 */

.img_tabaskho{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img_tabaskho img{
    width: 40vw;
    height: 90vh;
}

/* Projet 6 */

.img_team_buil{
    display: flex;
    align-items: center;
}

.img_team_buil img{
    width: 50vw;
    height: 90vh;
    margin-right: 5%;
}

/* Pour plusieurs outils / langages */

.logoChangDir{
    display: flex;
    flex-direction: row;
}

.logoChangDir div{
    width: 30vw;
}