@font-face {
    font-family: 'Insanibc';
    src: url('./insaniburger/Insanibc.ttf') format('truetype');
        font-weight: normal;
        font-display: swap;
}

@font-face {
    font-family: 'Insanibu';
    src: url('./insaniburger/Insanibu.ttf') format('truetype');
        font-weight: normal;
        font-display: swap;
}