/* Variables */

:root {

    /* Couleurs */
    --color-text: 255, 255, 255;
    --color-background: 15, 15, 15;
    --color-primary: 0, 0, 205;
    --color-primary-light: 0, 127, 255;
    --color-primary-dark: 0, 0, 139;
    --color-accent: 119, 0, 200;
    --color-accent-light: 174, 55, 255;
    --color-accent-dark: 95, 0, 160;
    --color-secondary: 31, 31, 31;
    --color-secondary-light: 120, 116, 109;
    --color-secondary-dark: 67, 64, 61;
    --color-shine: 249, 245, 132;

    /* Texte */

    --typescale-h1: 5.625rem;
    --typescale-h2: 4.1875rem;
    --typescale-h3: 3.1875rem;
    --typescale-h4: 2.375rem;
    --typescale-text: 1.75rem;
    --typescale-small-text: 1rem;

}