/* Imports */

@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import "_variables.css";
@import "fonts/_insaniburger.css";
@import "fonts/_archivo.css";


/* Redéfinition des balises */

h1{
    font-size: var(--typescale-h1);
    font-family: "Insanibu", sans-serif;
}

h2{
    font-size: var(--typescale-h2);
    font-family: "Insanibu", sans-serif;
}

h3{
    font-size: var(--typescale-h3);
    font-family: "Archivo", sans-serif;
}

h4{
    font-size: var(--typescale-h4);
    font-family: "Archivo", sans-serif;
}

p, li{
    font-size: var(--typescale-text);
    font-family: "Archivo", sans-serif;
}

.mini_texte{
    font-size: var(--typescale-small-text);
}

span{
    color: rgb(var(--color-primary-light));
}

strong{
    font-family: "Archivo-Bold", sans-serif;
}


a{
    color: rgb(var(--color-text));
    font-size: var(--typescale-text);
    font-family: "Archivo", sans-serif;
}

button{
    font-size: var(--typescale-text);
    font-family: "Archivo-Bold", sans-serif;
}



/* Style commun des pages */

body{
    color: rgb(var(--color-text));
    background-color: rgb(var(--color-background));
}

hr{
    height: 3px;
    border-color: rgb(var(--color-secondary-light));
    background-color: rgb(var(--color-secondary-light));
}

body > hr, main > hr{
    margin: 60px 100px;
}


/* Les identifiants */



/* Les classes */





/* Navbar */

#navBar_select hr{
    display: flex;
}

#navBar_select a{
    color: rgb(var(--color-primary-light));
}

.navBar{
    background-color: rgb(var(--color-background));
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-bottom-color: rgb(var(--color-secondary-light));
    border-bottom-width: 2px;
}

.navBar div, .navBar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.3rem 1rem;
}

.navBar ul hr{
    width: 10vh;
    border-color: rgb(var(--color-accent));
    display: none;
}

.navBar li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBar svg{
    margin-right: 0.7rem;
}

.navBar a, .navBar h3{
    font-family: "Archivo-Bold", sans-serif;
    color: rgb(var(--color-text));
}

.navBar ul a{
    margin: 0 2rem;
}

.monCV{
    border-left: solid;
    border-left-color: rgb(var(--color-secondary-light));
}

.monCV svg{
    margin: 0 0.5rem 0 1rem;
}



/* Footer */

footer{
    display: flex;
    flex-direction: row;
    padding: 0 20% 4% 15%;
    width: 100%;
    justify-content: space-between;
}

footer > div{
    display: flex;
    flex-direction: column;
}

footer div div{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8.5vh;
    margin-top: 3vh;
}


footer div div svg{
    margin-right: 6%;
}

footer h4{
    font-size: var(--typescale-h4);
    font-family: "Insanibu", sans-serif;
}

footer p, footer a{
    font-family: "Archivo-Bold", sans-serif;
}

.reposLinkedin{
    margin-top: 8%;
}

.coordTaille{
    width: 23.5vw;
}